body {
    margin: 1% 3%;
    font-family: Inter;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: white;
}

.logo {
    font-family: 'Newsreader';
    font-size: 20px;
    font-weight: bold; /* Ensure the logo is bold */
    color: #426B1F;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1vw;
}

.nav-links a {
    text-decoration: none;
    color: black;
}

.nav-links a.btn {
    color: white;
}

/* Hidden by default, but can be revealed using JS */
.noadd {
    display: none;
}

#max {
    visibility: hidden;
}

li {
    margin: 0;
    float: left;
    padding: 14px 16px;
}


.logo, h1, #quantity {
    margin: 0;
    font-family: Newsreader;
    font-size: xx-large;
}
.logo a {
    color: #426b1f;
}
.right {
    float: right;
}
.button {
    background-color: #2f4f2f;
    border-radius: 8px;
    color: white;
    text-align: center;
    cursor: pointer;
    -webkit-user-select: none; /* For Safari */
    user-select: none;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#product li {
    margin-right: 1%;
    margin-bottom: 3%;
}
li a, li p {
    margin: 0;
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
}
section {
    margin-top: 50px;
}
#product {
    display: flex;
    justify-content: center;
}
#image, #info {
    width: 40%;
    margin: 0 5%;
}
.review h3, .review span, #name * {
    display: inline;
    margin-right: 10px;
}
@media only screen and (max-width: 900px) {
    #product, .navbar {
        flex-direction: column;
    }
    #image, #info {
        width: 100%;
        margin: 0;
    }
    .nav-links {
        margin-top: 1%;
    }
    #name {
        margin-top: 3%;
    }
    .right {
        float: none;
    }
    .review h3 {
        display: block;
    }
    h2 {
        text-align: center;
    }
}
#empty, #quantity {
    text-align: center;
}
img {
    width: auto; /* Prevent scaling */
    max-width: 100%; /* Ensure it doesn't exceed container width */
}
#image {
    position: relative;
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}
#soldout {
    position: absolute;
    background-color: red;
    font-size: 6vw; /* Scale font size relative to the viewport width */
    text-align: center;
    color: white;
    width: 100%;
    left: 0;
    top: 50%;
    transform: rotate(-20deg);
}
h2, .review {
    margin-bottom: 50px;
}
#max {
    color: red;
}
#quantity {
    width: 50px;
}
h2, #price {
    font-family: Newsreader;
}
.noadd {
    background-color: black;
}
.button a {
    color: white;
}
#price {
    font-size: x-large;
}
#qtyselect {
    margin-top: 3%;
}
#qtylabel {
    padding-left: 0;
}