body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    background-color: white;
    border-bottom: 2px solid #ddd;
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    margin-right: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

button {
    background: green;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

h2 {
    color: black;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 28px;
    background-color: #f8f9fa; 
    margin: 20px;
    padding: 15px;
    border-radius: 8px; 
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}

h3 {
    font-size: 25px;
    font-family: 'Inter', sans-serif;
}

.brand-section {
    margin: 20px;
    margin-bottom: 30px;
    background: white;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 10px;
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.3);
}

.brand-header {
    background-color: #426B1F;
    color: white;
    padding: 10px;
    margin: 0 -15px 15px -15px;
    border-radius: 8px 8px 0 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 15px;
    table-layout: fixed;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-family: 'Inter', sans-serif;
}

th {
    background: #481f6bF2;
    color: white;
}

.sales-section {
    margin: 20px;
    background: white;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.3);
}

.sales-header {
    background-color: #426B1F;
    color: white;
    padding: 10px;
    margin: 0 -15px 15px -15px;
    border-radius: 8px 8px 0 0;
    font-family: 'Inter', sans-serif;
}

.sizes-table {
    width: auto;
    margin: 0;
}

.sizes-table th {
    background-color: #2ecc71;
    padding: 5px 8px;
}

.sizes-table td {
    padding: 5px 8px;
}

.price {
    font-weight: bold;
    color: #e74c3c;
}